<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}"><img src="{{uiRootPath}}/img/logo_navbar.png" alt="Logo" height="50px"> {{site.title}}</a>

      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{site.RootPath}}/{{page.component.name}}/{{page.version}}/index.html">Home</a>
        <a class="navbar-item" href="{{site.RootPath}}/{{page.component.name}}/{{page.version}}/features.html">Features</a>
        <a class="navbar-item" href="{{site.RootPath}}/{{page.component.name}}/{{page.version}}/download.html">Download</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="{{site.RootPath}}/{{page.component.name}}/{{page.version}}/introduction/introduction.html">Documentation</a>
          <div class="navbar-dropdown">
            {{#each page.navigation}}
                <a href="{{url}}" class="navbar-item">{{content}}</a>
            {{/each}}
          </div>
        </div>
        <a class="navbar-item" href="{{site.RootPath}}/{{page.component.name}}/{{page.version}}/support.html">Support</a>
          {{#if env.DOCSEARCH_ENABLED}}
            <div class="navbar-item">
              <input id="search-input" type="text" placeholder="Search">
            </div>
          {{/if}}
        </div>


      </div>
    </div>
  </nav>
</header>
